
    .Register-button {
      background-color: rgb(19, 184, 193, 0.856);
      color: white;
      border: none;
      height: 36px;
      width: 105px;
      border-radius: 2px;
      cursor: pointer;
      margin-right: 8px;
    margin-left:20px;
    margin-top:20px;
    margin-bottom:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration:none;
    transition: box shadow 0.15s;
    transition: opacity 0.15s;

    
    }
  
    
  
    .Register-button:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        opacity: 0.9;
    }
    
    .Login-button {
    background-color:rgb(219, 136, 11);
    border-color: rgb(219, 136, 11);
    border-style: solid;
    border-width: 1px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top:20px;
    margin-left:20px;
    
    padding-left: 16px;
    padding-right: 16px;
    text-decoration:none;

    transition: background-color 0.15s,
      color 0.15s;}
  
      .Login-button:hover {
    background-color:white;
    color:  rgb(219, 136, 11);
  }

  .Login-button:active {
    opacity: 0.7;
  }
  .container{
    text-align:center;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;
  }
  .starting-button {
    
    background-color:rgb(219, 136, 11);
    border-color: rgb(219, 136, 11);
    border-style: solid;
    border-width: 1px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top:20px;
    margin-left:20px;

    
    
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none; /* Remove underline on the link */

    transition: box shadow 0.15s;
    transition: opacity 0.15s;
  }
  

  .starting-button:hover {
    box-shadow: 5px 5px 10px rgba(238, 242, 243, 0.5);
    opacity: 0.9;
  }
  